<div class"d-inline-flex flex-row">
  <% users.each do |user| %>
    <div class="">
      <%= image_tag user.get_profile_image(100,100) %><br>
      <%= user.name %><br>
      <%= user.active_relationships.count %> following
      <%= user.passive_relationships.count %> follower
    </div>
  <% end %>
</div>