<h1>Users</h1>
<p>image</p>
<p>name</p>
<div>
<% @users.each do |user| %>

<%= image_tag user.get_profile_image(80,80) %>

<%= user.name %>

<%= link_to 'show', user_path(user.id) %>

<% end %>


<%= render 'user_new', user: @user, book: @book %>