<h2>Books</h2>

<div>
  <label>Title</label>
  <lavel>Body</lavel>

  <% @books.each do |book| %>
    <p><%= book.title %></p>
    <p><%= book.body %></p>
  <% end %>
</div>


<%= render 'user_new', user: @user, book: @book %>
