<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>Chat With <%= @user.name %></h2>

      <div class="message" style="width: 400px;">
        
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
            <p style="text-align: right;"><%= chat.message %></p>
          <% else %>
            <p style="text-align: left;"><%= chat.message %></p>
          <% end %>
        <% end %>
      </div>

      <%= render 'form', chat: @chat %>
    </div>
  </div>
</div>