<div id="books-index"class="container px-5 px-sm-0">
  <!-- エラー部分 -->
  <%= render 'layouts/errors', obj: @book %>
  <div class="row">
    <!-- サイドバー部分 -->
    <%= render 'users/user_new', user: current_user, book: @book %>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <!-- 並び替え機能部分 -->
      <%= render 'orders/select' %>

      <!-- メイン部分 -->
      <div class="orders">
        <%= render 'index', books: @books %>
      </div>
    </div>
  </div>
</div>
