<% if @model == "user" %>
  <h2>Users serch for "<%= "#{@content}" %>"...</h2>
  <%= render 'users/index',users: @records %>
<% elsif @model == "book" %>
  <h2>Books serch for "<%= "#{@content}" %>"...</h2>
  <%= render 'books/index',books: @records %>
<% end %>






